<div class="profile">
	<div class="container">
		<div class="profile-container">
			<div class="cloud"></div>
			<div class="span2 big-doll"></div>
			<div class="span7">
				<h1><span>W</span>EB DESIGN</h1>
				<h2>Graphic <span>D</span>esign</h2>

				<div class="profile-title"><%= @texts[:profile_title] %></div>
				<ul class="unstyled">
					<li><%= @texts[:profile_content1] %></li>
					<li><%= @texts[:profile_content2] %></li>
					<li><%= @texts[:profile_content3] %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Portfolio -->
<%= render 'portfolio' %>

<!-- About -->
<%= render 'about' %>

<!-- Contact us -->
<div class="contact section">
	<div class="container">
		<h1>Contact Me</h1>
		<div class="hr"></div>
		<div class="row">
			<div class="span3">
				<p><%= @texts[:contact_description] %></p>
				<div>Call me or message me:</div>
				<div class="green-label"><%= @texts[:contact_phone] %></div>
				<div>Email me:</div>
				<div class="green-label"><%= @texts[:contact_email] %></div>



			</div>
			<div class="span8">
				<%= render 'messages/form'  %>
			</div>
			
		</div>
		<div class="footer">
				<span class="footer-doll"></span>
				<span><span class="footer-label">design by</span> Kozokin Lidia</span>

			</div>
	</div>


</div>

