<div>
<h1><%= @texts[:title_1] %></h1>
<h2><%= @texts[:title_2] %></h2>

<div><%= @texts[:profile_title] %></div>
<ul>
	<li><%= @texts[:profile_content1] %></li>
	<li><%= @texts[:profile_content2] %></li>
	<li><%= @texts[:profile_content3] %></li>
</ul>

</div>
<!-- Portfolio -->
<div>
	<h1>Portfolio</h1>
</div>
<!-- About -->
<div class="about">
	<h1>About</h1>
	<div class="hr"></div>
	<div><%= @texts[:about_bold] %></div>
	<div><%= @texts[:about_content] %></div>


</div>

<!-- Contact us -->
<div class="contact">
	<h1>Contact Me</h1>
	<div class="hr"></div>


</div>

