<h1>Listing general_texts</h1>

<table>
  <tr>
    <th>Text name</th>
    <th>Text value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @general_texts.each do |general_text| %>
  <tr>
    <td><%= general_text.text_name %></td>
    <td><%= general_text.text_value %></td>
    <td><%= link_to 'Show', general_text %></td>
    <td><%= link_to 'Edit', edit_general_text_path(general_text) %></td>
    <td><%= link_to 'Destroy', general_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New General text', new_general_text_path %>
