<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image_type_id %><br />
    <%= select("photo", "image_type_id", ImageType.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'Select one'}) %>
  </div>
  <div class="field">
    <%= f.label :thumb_src %><br />
    <%= f.text_field :thumb_src %>
  </div>
  <div class="field">
    <%= f.label :image_src %><br />
    <%= f.text_area :image_src %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
